/* BASE STYLES */

a {
    outline: 0;
    font-size: 12px;
    color: #0c2745;
    text-decoration: none;
}

a:hover {
    color: #203e59;
    text-decoration: none;
}

a:visited {
    text-decoration: none;
    color: #0c2745;
  }

#active a {
    color: #d4740d;
    text-decoration: none;
}

#active a:hover {
    color: #203e59;
}


*:focus {
    outline: none;
}

* {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    position: relative;
    font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
    background-color: #233e5f;
    background-image: -webkit-linear-gradient(bottom, #233e5f, #1c2836);
    background-image: linear-gradient(to top, #233e5f, #1c2836);
}

li {
    font-size: 11px;
    margin-left: 20px;
}

h1 {
    font-size: 26px;
}

h2 {
    font-size: 24px;
}

img.facebook-module,
img.img-responsive {
    width: 100%;
    height: auto;
}

hr {
  margin-top: 10px;
  margin-bottom: 10px;
  border: 0;
  border-top: 1px solid #eee;
}