/* BASE STYLES */
a {
    outline: 0;
    font-size: 12px;
    color: $blue-zodiac;
    text-decoration: none;
    &:hover {
        color: $cello-light;
        text-decoration: none;
    }
    &:visited {
        text-decoration: none;
        color: $blue-zodiac;
    }
}
#active {
    a {
        color: $zest;
        text-decoration: none;
        margin-left: -7px;
        &:hover {
            color: $cello-light;
        }
    }
}
* {
    &:focus {
        outline: none;
    }
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    position: relative;
    font-family: $helvetica; // Bourbon Font Stack
    background: $cello-dark; // for browsers that do not support gradients
    background: -webkit-linear-gradient(bottom, $cello-dark, $mirage); // CCS3 Gradient
    background: linear-gradient(to top, $cello-dark, $mirage); // CCS3 Gradient
    color: $flint;
}
li {
    font-size: 11px;
}
h1 {
    font-size: 26px;
    font-family: serif;
}
h2 {
    font-size: 24px;
    padding-top: 15px;
    color: $zest;
    font-family: serif;
}
h3 {
    font-size: 24px;
}
img.facebook-module {
    width: 100%;
    height: auto;
}
img.img-responsive {
    width: 100%;
    height: auto;
    @include border-radius(2px); // Compass CSS3 Mixin
}
hr {
    margin-top: 10px;
    margin-bottom: 10px;
    border: 0;
    border-top: 1px solid #eee;
}
.navbar {
    border-radius: 0px;
}
