/* BASE STYLES */

a {
    outline: 0;
    font-size: 12px;
    color: #0c2745;
    text-decoration: none;
}

a:hover {
    color: #203e59;
    text-decoration: none;
}

a:visited {
    text-decoration: none;
    color: #0c2745;
  }

#active a {
    color: #e07c28;
    text-decoration: none;
}

#active a:hover {
    color: #203e59;
}


*:focus {
    outline: none;
}

* {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    position: relative;
    font-family: $helvetica; // Bourbon Font Stack
    // @include background-image(linear-gradient(#233e5f, #1c2836)); // Compass Function
    background-color: #233e5f;
    background-image: -webkit-linear-gradient(bottom, #233e5f, #1c2836);
    background-image: linear-gradient(to top, #233e5f, #1c2836);
    color: #6c6762;
}

li {
    font-size: 11px;
    margin-left: 20px;
}

h1 {
    font-size: 26px;
    font-family: serif;
}

h2 {
    font-size: 24px;
    padding-top: 15px;
    color: #e07c28;
    font-family: serif;
}

h3 {
    font-size: 24px;
}

img.facebook-module,
img.img-responsive {
    width: 100%;
    height: auto;
}

hr {
  margin-top: 10px;
  margin-bottom: 10px;
  border: 0;
  border-top: 1px solid #eee;
}
