/* ARTICLE */
article.facebook-entry {
    background: $mine-shaft-light url(../img/bg_facebook_post.png) no-repeat;
    width: 297px;
    height: 321px;
    float: right;
    margin-top: 5px;
    h3 {
        background: $white url(../img/header_facebook.png) no-repeat;
        width: 293px;
        height: 43px;
        margin-top: 50px;
    }
    h4 {
        color: $mine-shaft-dark;
        padding-left: 30px;
        padding-top: 5px;
    }
    h5 {
        color: $sea-buckthorn;
        padding-left: 30px;
        padding-top: 10px;
        span {
            color: $cloud;
        }
    }
    p {
        padding-left: 30px;
        padding-top: 10px;
        font-size: 11px;
        padding-right: 30px;
    }
}
article {
    p {
        font-size: 12px;
        line-height: 1.4em;
    }
    a {
        font-size: 12px;
    }
    h3 {
        font-size: 18px;
        color: $astral;
    }
    hr {
        margin-top: 0px;
        margin-bottom: 0px;
    }
}
.aside-box {
    p {
        font-size: 12px;
        line-height: 1.4em;
    }
    img {
        float: left;
        margin-top: 8px;
        padding-left: 10px;
    }
}
hr.article-hr {
    margin-top: 0px;
    margin-bottom: 0px;
}
.article-nav {
    background: none;
}
.dateText {
    color: $tree-poppy;
    font-size: 11px;
}
.authorText {
    color: $bon-jour;
    font-size: 11px;
}

/* ASIDE */
aside {
    width: 291px;
    margin-right: 12px;
    float: right;
    height: 294px;
    h2.since1973 {
        background: transparent url(../img/heading_since_1973.png) no-repeat;
        width: 152px;
        height: 42px;
        margin: 16px 10px 0 140px;
        padding: 10px;
        position: inherit;
    }
}
.aside-box.boxed {

    // background-color: $concrete;
    background-color: tint($concrete, 10%); // Sass Function
    padding: 5px;
    border: 1px solid $gallery;
    margin-bottom: 10px;
}
a.moreinfo {
    text-decoration: underline;
    color: $chathams-blue;
    float: right;
}
.boxed {
    p {
        overflow: hidden;
    }
}

/* ASIDE MEDIA */

.get-involved {
    display: none;
}
.fbimg {
    width: 100%;
    max-width: 238px;
    max-height: auto;
}
.donate-btn-btm {
    img {
        width: 100%;
        align: center;
        max-width: 242px;
        max-height: auto;
        padding-bottom: 20px;
    }
}
// Override FontAwesome default position
.fa-li {
    position: relative;
    top: 0px;
    left: 0px;
}

/* MAIN CONTENT */
.main-content {
    float: left;
    background-color: $white;
    line-height: 1.5em;
    p {
        padding: 10px;
    }
}
p.remove-left-padding {
    padding: 10px 10px 10px 0px;
}
/* TOP NAV */
.top-nav {
    font-size: .9em;
    padding-left: 125px;
    li {
        padding-top: 25px;
        float: left;
    }
    span {
        padding: 0 10px;
        color: $white;
    }
    a {
        color: $white;
        text-decoration: none;
    }
}
/* MAIN NAV */
nav {
    margin: 0 auto;
    background-color: $white;
}
.navbar-nav {
    width: 100%;
    text-align: center;

    > li {
        float: none;
        display: inline-block;
    }
}

@media screen and (max-width: 768px) {
    .navbar-nav {
        > li {
            display: block;
        }
    }
}


/* HEADER */
header {
    position: relative;

    background-color: #666666;
}

header .facebook-icon {
    position: absolute;
    top: 10px;
    left: 355px;
    padding: 9px 10px 0 15px;
}

@media screen and (max-width: 535px) {
    .facebook-icon {
        display: none;
    }
}

header .donate {
    position: absolute;
    top: 17px;
    right: 0;
}

header .logo {
    position: absolute;
    top: -48px;
    left: 10px;
    z-index: 99;
    // position: relative;
    -webkit-animation: mymove 1.2s; /* Chrome, Safari, Opera */
    animation: mymove 1.2s;
    animation-timing-function: ease;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes mymove {
    from {top: -300px;}
    to {bottom: 0px;}
}

/* Standard syntax */
@keyframes mymove {
    from {top: -300px;}
    to {bottom: 0px;}

    background-color: $dove-gray;
    .facebook-icon {
        position: absolute;
        top: 10px;
        left: 355px;
        padding: 9px 10px 0 15px;
    }
    .donate {
        position: absolute;
        top: 17px;
        right: 0;
    }
    .logo {
        position: absolute;
        top: -48px;
        left: 10px;
        z-index: 99;
    }
}
.misc-items {
    height: 56px;
    background-color: $blue-zodiac;
    position: relative;
}
.search-container {
    position: absolute;
    top: 15px;
    left: 675px;
    // background: transparent url(../img/bg_box.png) no-repeat;
    background: transparent url("../images/search-box.png") no-repeat;
    width: 258px;
    height: 37px;
    .search-input {
        background-color: transparent;
        border: medium none;
        color: $dusty-gray;
        float: left;
        font-size: 0.9em;
        height: auto;
        margin: 8px 5px 0px 12px;
        width: 185px;
    }
    .search-submit {
        margin: 5px 0 0 10px;
        width: 25px;
    }
}
.breadcrumb {
    padding: 0px 5px;
    margin-bottom: 20px;
    list-style: none;
    background-color: $white;
    border-radius: 0px;
    float: right;
    li {
        margin-left: 0px;
    }
    >li+li {
        &:before {
            padding: 0px 5px;
            color: $silver;
            content: ">";
        }
    }
}
h1.main-header {
    float: left;
}

/* FOOTER */
footer {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 30px;
    p {
        color: $white;
        font-size: 10px;
    }
    section {
        float: left;
        margin-left: 20px;
        margin-top: 16px;
        li {
            color: $white;
            line-height: 1.5em;
            color: $white;
            line-height: 1.5em;
        }
        a {
            color: $white;
            font-size: 11px;
            color: $white;
            font-size: 11px;
        }
        .adp-logo {
            position: absolute;
            top: 25px;
            left: 30px;
            position: absolute;
            top: 25px;
            left: 30px;
        }
        .cart-logo {
            position: absolute;
            top: 20px;
            left: 135px;
            position: absolute;
            top: 20px;
            left: 135px;
        }
        .about-us-heading {
            background: $cello-dark url(../img/bg_about_us.png) no-repeat;
            width: 166px;
            height: 30px;
            background: $cello-dark url(../img/bg_about_us.png) no-repeat;
            width: 166px;
            height: 30px;
        }
        .services-heading {
            background: $cello-dark url(../img/bg_heading_services.jpg) no-repeat;
            width: 166px;
            height: 30px;
            background: $cello-dark url(../img/bg_heading_services.jpg) no-repeat;
            width: 166px;
            height: 30px;
        }
        .wtgi-heading {
            background: $cello-dark url(../img/bg_heading_ways_tgi.png) no-repeat;
            width: 166px;
            height: 30px;
            background: $cello-dark url(../img/bg_heading_ways_tgi.png) no-repeat;
            width: 166px;
            height: 30px;
        }
    }
    section.services-spacing {
        padding-left: 64px;
        padding-left: 64px;
    }
    section.wtgi-spacing {
        padding-left: 54px;
        padding-left: 54px;
    }
    section.cert-logos-spacing {
        padding-left: 30px;
        margin-top: 0;
        position: relative;
        padding-left: 30px;
        margin-top: 0;
        position: relative;
    }
}

/* BOTTOM WELL */
.bottom-well-margin {
    margin-top: 0px;
}
// Sass placeholder example
%well-text-color {
    color: $white;
}
.well {
    margin-bottom: 0px;
}
.well-bottom {
    margin-top: 20px;
    background-color: $downriver;
    h6 {
        @extend %well-text-color;
        background-color: $black-pearl;
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 14px;
    }
    li {
        @extend %well-text-color;
        a {
            @extend %well-text-color;
        }
    }
}
.footer-border {
    border-right: 1px solid $black-pearl;
}
.cert-logos {
    margin-top: 16px;
}
