/* ARTICLE MODULE */
ul.side-nav {
    margin-left: -40px;
    margin-top: 20px;
    li {
        background: orange;
        background: -webkit-linear-gradient(orange, #f59211);
        background: -o-linear-gradient(orange, #f59211);
        background: -moz-linear-gradient(orange, #f59211);
        background: linear-gradient(orange, #f59211);
        padding: 10px;
        margin-bottom: 1px;
        a {
            color: #ffffff;
            font-size: 16px;
        }
    }
}
/* ASIDE MODULE */
h2.get-involved-sidebar-heading {
    font-size: 18px;
    color: #337ab7;
}
h2.success-stories-sidebar-heading {
    font-size: 18px;
    color: #337ab7;
}
.sidebar-background {
    box-shadow: -3px 3px 10px rgba(0, 0, 0, 0.2);
    padding: 0px;
}
.bottom-donate-button {
    margin-bottom: 20px;
}
