/* ARTICLE MODULE */

ul.side-nav {
    margin-left: -40px;
    margin-top: 20px;
}

ul.side-nav li {
    background: orange;
    /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(orange, #f59211);
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(orange, #f59211);
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(orange, #f59211);
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(orange, #f59211);
    /* Standard syntax (must be last) */
    padding: 10px;
    margin-bottom: 1px;
}

ul.side-nav li a {
    color: #ffffff;
    font-size: 16px;
}

/* ASIDE MODULE */

h2.get-involved-sidebar-heading {
    font-size: 18px;
    color: #337ab7;
}

h2.success-stories-sidebar-heading {
    font-size: 18px;
    color: #337ab7;
}

.sidebar-background {
    box-shadow: -3px 3px 10px rgba(0, 0, 0, 0.2);
    padding: 0px;
}

.bottom-donate-button {
    margin-bottom: 20px;
}